.end-event{
    display: flex;   
    padding: 8%;
    margin-top: 150px;
    &__title{
        text-align: center;
        & h1{
            margin-left: -390px;
        }
        &--line{
            @include line(150px);
            margin-left: 0px;
        }
        &--description{
            width: 400px;
            margin-right: 200px;
            text-align: justify;
        }
        & button{
            @include btn;
            margin-left: -200px;
        }
    }
    &__photos{
        width: 50wh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: 0.3s;
        & img{
            padding: 0 5px 5px 0;
            width: 85%;
            &:hover{
                transform: scale(1.03);
            }
        }
    }
}